
Editor
Code.gs
.

27222324252628293019202117181415161213910117845623131
function doPost(e) {

  var sheet = SpreadsheetApp.getActiveSpreadsheet().getActiveSheet();

  // Save data to sheet (ORDER MUST MATCH HEADER ROW)
  sheet.appendRow([
    new Date(),
    e.parameter.name || "",
    e.parameter.age || "",
    e.parameter.gender || "",


